H1 {
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
.buttons {
  gtid-area: buttons;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "faceContainer"
  "noseContainer"
  "smileContainer";
}
.faceContainer {
  grid-area: faceContainer;
}
.noseContainer {
  grid-area: noseContainer;
}
.smileContainer {
  grid-area: smileContainer;
}
.canvas {
  grid-area: canvas;
  justify-self: center;
  align-self: center;
}
.buttonCircle {
    grid-area: buttonCircle;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.buttonTriangle {
    grid-area: buttonTriangle;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
  "canvas buttons"
  /* "buttonCircle buttonTriangle"; */
}
