H1 {
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
.buttons {
  gtid-area: buttons;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "face eyes nose smile"
  "changeArea changeArea changeArea changeArea"
  "changeArea changeArea changeArea changeArea";
}
.changeArea {
  grid-area: changeArea;
}
.face {
  grid-area: face;
}
.nose {
  grid-area: nose;
}
.smile {
  grid-area: smile;
}
.eyes{
  grid-area: eyes;
}
.canvas {
  grid-area: canvas;
  justify-self: center;
  align-self: center;
}
.buttonFace {
    grid-area: buttonCircle;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.buttonEyes {
  grid-area: buttonEyes;
  width: 200px;
  height: 100px;
  justify-self: center;
  align-self: center;
}
.buttonNose {
    grid-area: buttonTriangle;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.buttonSmile {
    grid-area: buttonTriangle;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
  "canvas buttons"
  /* "buttonCircle buttonTriangle"; */
}
